[project]
	description = Monitoring scripts
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/pinaki124
[access "refs/for/refs/*"]
	read = group user/pinaki124
	push = group user/pinaki124
	label-Code-Review = -2..+2 group user/pinaki124
	label-Verified = -1..+1 group user/pinaki124
	rebase = group user/pinaki124
	removeReviewer = group user/pinaki124
	submit = group user/pinaki124
[access "refs/heads/*"]
	read = group user/pinaki124
	create = group user/pinaki124
	push = +force group user/pinaki124
	pushMerge = group user/pinaki124
[access "refs/tags/*"]
	push = +force group user/pinaki124
	pushTag = group user/pinaki124
	pushSignedTag = group user/pinaki124
